body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #e36414, #5f0f40);
  color: #0f4c5c;
  margin: 0;
  padding: 0;
}
    .logo{
    width: 100%;
        }

    div{
            width:75%;
            background-color:#e8e9eb;
            margin: 0 auto;
            border-radius: 15px;
            padding: 2rem;
            margin-bottom: 2rem;
            text-align: left;
            font-size: 20px;
        }

.card1 {
            background-color: #e8e9eb;
            color:#0f4c5c;
            padding: 30px 20px;
            border-radius: 15px;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            transition: transform 0.2s ease-in-out;
            font-size: 20px;
        } 

.card2 {
            background-color: #e8e9eb;
            color:#0f4c5c;
            padding: 30px 20px;
            border-radius: 15px;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            transition: transform 0.2s ease-in-out;
            margin: 20px;
            font-size: 20px;
        }       

        .posicao {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: unset;

        }

         .gira-float{
            position: absolute;
            top: 76% fixed;
            left: 9%;
            width: 65px;
            height: auto;
            z-index: 0;
        }